@model EmpowerU.Models.Appointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirmation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Business)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Business.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumer.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AppointmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
