@model Consumer

@{
    ViewData["Title"] = "Consumer Details";
}

<h1 class="text-center mb-4 text-primary">   </h1>

<div class="container">
    <div class="row">
        <!-- Consumer Profile Image Aligned to the Left -->
        <div class="col-md-4 mb-4">
            <div class="bg-light border" style="width: 100%; height: 300px; display: flex; justify-content: center; align-items: center;">
                <img src="https://static.vecteezy.com/system/resources/previews/024/284/257/original/beauty-salon-logo-design-free-vector.jpg" alt="Profile Picture" class="squared" width="300" height="300">
            </div>
        </div>

        <!-- Consumer Information Section -->
        <div class="col-md-8">
            <h4 class="mb-4" style="color: black;">Personal Information</h4>

            <div class="card p-4 shadow-sm">
                <dl class="row">
                   

                    <dt class="col-sm-4">Name</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                    <dt class="col-sm-4">Surname</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Surname)</dd>

                    <dt class="col-sm-4">Email</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                    <dt class="col-sm-4">Phone Number</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.PhoneNumber)</dd>


                

                     @if (User.IsInRole("Admin"))
                    {
                        <dt class="col-sm-4">Preferred Categories</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.PreferredCategories)</dd>

                        <dt class="col-sm-4">Password</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Password)</dd>

                        <dt class="col-sm-4">Role</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Role)</dd>

                    <dt class="col-sm-4">Last Login</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.LastLogin)</dd>

                    }
                </dl>
            </div>
       <p>

       </p>
            <div class="d-flex align-items-center mb-3">
                <a href="/Messages/Index?consumerID=@Model.Id" class="btn btn-outline-primary d-flex align-items-center">
                    <i class="fas fa-envelope mr-2"></i> Message Me!
                </a>
            </div>
        </div>
        <!-- Message Us Button -->
       
    </div>
</div>
